{% extends 'layout.html' %}

{% block body %}







    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
                <div class="col-12 col-md-8">
                    <div class="single-blog-content mb-100">
                        <!-- Post Content -->

                        <div class="post-content">
                            <a href="#" class="headline"><h2>{{ newsitem.Title }}</h2></a>
                            <div class="post-thumbnail"><img src="{{ newsitem.Image }}https://www.bing.com/th?id=ON.D2AAE8291A751013A510666E3E73BF86&pid=News/ImageResizer.ashx?n=https%3a%2f%2fi.nextmedia.com.au%2fNews%2fUNSW_Quantum_qubit_benchmarking.jpg&w=480&c=0&s=1" alt=""></div>
                            <p>{{ newsitem.Description }}</p>
                            <!-- Post Tags -->
                            <ul class="post-tags">
                                <li><a href="#">{{ newsitem.Topic }}</a></li>

                            </ul>
                        </div>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">{{ newsitem.JsonDict }}</a> on <a href="#" class="post-date">{{ newsitem.Timestamp }}</a></p>
                        </div>

                        <section>
                            <div class="containerc">
                                <p id=result></p>
                                <div class="box">
                                    {% if stats == 'true' %}
                                        <i class="fa fa-thumbs-up like" id="like"></i>
                                        <span id="like-counter">{{ ratingdetails.commentLike }}</span>
                                    {% else %}
                                        <i class="fa fa-thumbs-up" id="like"></i>
                                        <span id="like-counter">{{ ratingdetails.commentLike }}</span>
                                    {% endif %}
                                </div>
                                <div class="box">
                                    <i class="fa fa-heart" id="love"></i>
                                    <span id="love-counter">{{ ratingdetails.commentLove }}</span>
                                </div>
                                <div class="box">
                                    <i class="fa fa-comment"></i>
                                    <span id="comment-counter">{{ ratingdetails.commentc }}</span>
                                </div>
                                <div class="box">
                                    <input type="text" placeholder="add any comment..." id="comment">
                                    <button id="add-comment">Add a comment</button>
                                </div>
                                <section class="comments" id="comments-container"></section>
                            </div>
                        </section>

                    </div>
                </div>


                <!-- ========== Sidebar Area ========== -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Google Latest News</h5>
                            <div class="widget-content">
                               <div class="feedgrabbr_widget" id="fgid_10573046964a2a299caa6d950"></div>
<script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_10573046964a2a299caa6d950");</script>
<script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
                            </div>
                        </div>


                        <!-- ABC NEWS-->
                         <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">ABC News Just In</h5>
                            <div class="widget-content">

                                 {% for article in latest %}

                                <!-- Single Blog Post -->
                                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src={{ article.urlToImage }} alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
{#                                        <a href=latestnewsitem/{{ article.description }} class="headline">#}
                                         <a href="{{ article.url }}" target="_blank" class="headline">
                                            <h5 class="mb-0">{{ article.title }}</h5>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}



                            </div>
                        </div>



                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Stay Connected</h5>
                            <div class="widget-content">
                                <div class="social-area d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Today’s Pick</h5>
                            <div class="widget-content">
                                <!-- Single Blog Post -->
                                <div class="single-blog-post todays-pick">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="static/img/blog-img/b22.jpg" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content px-0 pb-0">
                                        <a href="#" class="headline">
                                            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>

    </div>




    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <a href="#"><img src="/static/img/core-img/logo.png" alt=""></a>
                        </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <ul class="footer-menu d-flex justify-content-between">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Gadgets</a></li>
                            <li><a href="#">Video</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <h5>Subscribe</h5>
                        <form action="#" method="post">
                            <input type="email" name="email" id="eemail" placeholder="Enter your mail">
                            <button type="button"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}